<html>

<head>

</head>

<body>
    <div id="dashboard">
        <div id="navbar">

        </div>
        <div id="maparea">
            <div id="info">
                <p>
                    FUEL -
                    <p id="fuel">

                    </p>
                </p>
                <p>
                    KM READING -
                    <p id="km">

                    </p>
                </p>
                <p>
                    AVERAGE -
                    <p id="milage">

                    </p>
                </p>
            </div>
            <div id="map">

            </div>
        </div>
        <div id="tirearea">
            <div id="truck_number">
                <p id="tnum">

                </p>
            </div>
            <div id="tire1">
                <div id="tire1_glyph">
                    1
                </div>
                <p id="tire1_data">
                    
                </p>
            </div>
        </div>
    </div>
</body>

</html>